# Files to ignore

*.class
bBUFFERS
bCONTROL
bBACKUP
*.tmp
javadep
fixcreate
UNKNOWN
filesystem.attributes
bin.*
ir.out
xxx*
hs_err_pid*
update.out
*.xjs
.snapshot
.snapshots
*.o
*.so
core*
*.out
*.old
*.model
public
#*
eclipsepath
*.lcl
*.orig
tags
*~
.*~
*.pdf
*.ps
*.log
*.out.xml
fait.jar
faitdbg.jar
*.csv
javasrc/xxx/x/cs/fait/flow/TEST-xxx.x.x.fait.flow.FlowTest.txt
javasrc/xxx/x/cs/fait/server/TEST-xxx.x.x.fait.server.ServerTest.txt
build.properties
git.info
lib/karma.jar
experiment
rose.jar
checkpoint.txt
